:root {
  --dark-bg: #232527;
  --light-bg: #d0d0d0;
  --light-bg-2: #e5e5e5;
  --light-bg-3: #f0f0f0;
  --light-bg-4: #fefefe;
  --text-primary: #121212;
  --text-secondary: #404040;
  --text-terciary: #606060;
  --light-text-primary: #efefef;
  --light-text-secondary: #dadada;
  --success: #24a210;
  --danger: #fa2112;
  --info: #3685df;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 100vw;
  background-color: var(--dark-bg);
  color: var(--light-text-primary);
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
header span {
  font-weight: bold;
  word-spacing: 10px;
}
