@import '../variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 100vw;
  background-color: var(--dark-bg);
  color: var(--light-text-primary);
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, .4);

  span {
    font-weight: bold;
    word-spacing: 10px;
  }
}